#############################################
# Base Apache Server Configuration          #
#############################################
User gonano
Group gonano
PidFile {{data_dir}}/var/run/httpd.pid
Timeout {{timeout}}
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 15

StartServers          1
MinSpareServers       1
MaxSpareServers       {{max_spares}}
MaxClients            {{max_clients}}
MaxRequestsPerChild   {{max_requests_per_child}}
ServerLimit           {{server_limit}}

Listen 0.0.0.0:8080

#############################################
# Dynamic Apache Modules                    #
#############################################
LoadModule dir_module lib/httpd/mod_dir.so
LoadModule env_module lib/httpd/mod_env.so
LoadModule expires_module lib/httpd/mod_expires.so
LoadModule log_config_module lib/httpd/mod_log_config.so
LoadModule mime_module lib/httpd/mod_mime.so
LoadModule rewrite_module lib/httpd/mod_rewrite.so
LoadModule setenvif_module lib/httpd/mod_setenvif.so
{{#mod_php}}
LoadModule php5_module lib/httpd/mod_php5.so
{{/mod_php}}
{{#fastcgi}}
LoadModule actions_module lib/httpd/mod_actions.so
LoadModule alias_module lib/httpd/mod_alias.so
LoadModule fastcgi_module lib/httpd/mod_fastcgi.so
{{/fastcgi}}
{{#modules}}
LoadModule {{.}}_module lib/httpd/mod_{{.}}.so
{{/modules}}

#############################################
# Default Server Configuration              #
#############################################
UseCanonicalName Off
HostnameLookups Off
DocumentRoot "{{code_dir}}{{document_root}}"
DirectoryIndex {{directory_index}} {{default_gateway}} 
AccessFileName .htaccess
TypesConfig {{etc_dir}}/httpd/mime.types
DefaultType text/plain

# add gzip compression
AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css application/x-javascript application/javascript
# add far future expires to header
{{#static_expire}}
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    ExpiresActive On
    ExpiresDefault "access plus {{static_expire}} seconds"
</FilesMatch>
{{/static_expire}}

#Header unset ETag
FileETag Mtime Size

<Directory />
    Options Indexes FollowSymLinks
    AllowOverride All
    DirectoryIndex {{ directory_index }} {{ default_gateway }}
</Directory>

<Files ~ "^\.ht">
   Require all denied
</Files>

<IfModule mod_userdir.c>
    UserDir disable
</IfModule>
<IfModule mod_mime_magic.c>
    MIMEMagicFile {{etc_dir}}/httpd/magic
</IfModule>

#############################################
# Logging Configuration                     #
#############################################
ErrorLog {{data_dir}}/var/log/apache/error.log

LogLevel {{log_level}}
LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
{{#access_log}}
CustomLog {{data_dir}}/var/log/apache/access.log combined
{{/access_log}}

#############################################
# MIME Type/Handler Configuration           #
#############################################
AddType application/x-compress .Z
AddType application/x-gzip .gz .tgz
AddType application/x-httpd-php .php
AddHandler type-map var
{{#fastcgi}}
ScriptAlias /cgi-bin/ "{{data_dir}}/libexec/cgi-bin/"
FastCgiExternalServer {{data_dir}}/libexec/cgi-bin/php-cgi -idle-timeout {{timeout}} -socket {{data_dir}}/var/tmp/php.sock -pass-header Authorization
AddHandler php-fastcgi .php
Action php-fastcgi /cgi-bin/php-cgi
{{/fastcgi}}

#############################################
# VirtualHost Configuration                 #
#############################################

<VirtualHost *:8080>
    DocumentRoot "{{code_dir}}{{document_root}}"
    ServerName localhost
    DirectoryIndex {{directory_index}} {{default_gateway}}
    UnsetEnv USER HOME
    SetEnvifNoCase X-Forwarded-Proto "https" HTTPS=on
    RewriteEngine on
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
</VirtualHost>
