#############################################
# Base Apache Server Configuration          #
#############################################
User gonano
Group gonano
PidFile {{data_dir}}/var/run/httpd.pid
Timeout {{timeout}}
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 15

StartServers          1
{{^apache24}}
MinSpareServers       1
MaxSpareServers       {{max_spares}}
MaxClients            {{max_clients}}
MaxRequestsPerChild   {{max_requests_per_child}}
{{/apache24}}
{{#apache24}}
{{#mod_php}}
MinSpareServers        1
MaxSpareServers        {{max_spares}}
MaxClients             {{max_clients}}
{{/mod_php}}
{{#fastcgi}}
MinSpareThreads        1
MaxSpareThreads        {{max_spares}}
MaxRequestWorkers      {{max_clients}}
{{/fastcgi}}
MaxConnectionsPerChild {{max_requests_per_child}}
{{/apache24}}
ServerLimit            {{server_limit}}

ServerName localhost
Listen 0.0.0.0:8080

#############################################
# Dynamic Apache Modules                    #
#############################################
{{#apache24}}
LoadModule unixd_module lib/httpd/mod_unixd.so
LoadModule filter_module lib/httpd/mod_filter.so
LoadModule authz_core_module lib/httpd/mod_authz_core.so
LoadModule authz_host_module lib/httpd/mod_authz_host.so
{{/apache24}}
LoadModule dir_module lib/httpd/mod_dir.so
LoadModule env_module lib/httpd/mod_env.so
LoadModule expires_module lib/httpd/mod_expires.so
LoadModule log_config_module lib/httpd/mod_log_config.so
LoadModule mime_module lib/httpd/mod_mime.so
LoadModule rewrite_module lib/httpd/mod_rewrite.so
LoadModule setenvif_module lib/httpd/mod_setenvif.so
LoadModule deflate_module lib/httpd/mod_deflate.so
{{#mod_php}}
{{#apache24}}
LoadModule mpm_prefork_module lib/httpd/mod_mpm_prefork.so
{{/apache24}}
{{^php7}}
LoadModule php5_module lib/httpd/mod_php5.so
{{/php7}}
{{#php7}}
LoadModule php7_module lib/httpd/mod_php7.so
{{/php7}}
{{/mod_php}}
{{#fastcgi}}
{{^apache24}}
LoadModule actions_module lib/httpd/mod_actions.so
LoadModule alias_module lib/httpd/mod_alias.so
LoadModule fastcgi_module lib/httpd/mod_fastcgi.so
{{/apache24}}
{{#apache24}}
LoadModule mpm_worker_module lib/httpd/mod_mpm_worker.so
LoadModule proxy_module lib/httpd/mod_proxy.so
LoadModule proxy_fcgi_module lib/httpd/mod_proxy_fcgi.so
{{/apache24}}
{{/fastcgi}}
{{#modules}}
LoadModule {{.}}_module lib/httpd/mod_{{.}}.so
{{/modules}}

#############################################
# Default Server Configuration              #
#############################################
UseCanonicalName Off
HostnameLookups Off
DocumentRoot "{{code_dir}}{{document_root}}"
DirectoryIndex {{directory_index}} {{default_gateway}}
AccessFileName .htaccess
TypesConfig {{etc_dir}}/httpd/mime.types
{{^apache24}}
DefaultType text/plain
{{/apache24}}

# add gzip compression
AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css application/x-javascript application/javascript
# add far future expires to header
{{#static_expire}}
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    ExpiresActive On
    ExpiresDefault "access plus {{static_expire}} seconds"
</FilesMatch>
{{/static_expire}}

#Header unset ETag
FileETag Mtime Size

<Directory {{code_dir}}>
    Options Indexes FollowSymLinks
    AllowOverride All
    DirectoryIndex {{ directory_index }} {{ default_gateway }}
</Directory>

<Files ~ "^\.ht">
   Require all denied
</Files>

<IfModule mod_userdir.c>
    UserDir disable
</IfModule>
<IfModule mod_mime_magic.c>
    MIMEMagicFile {{etc_dir}}/httpd/magic
</IfModule>
<IfModule mod_headers.c>
    # https://httpoxy.org/
    RequestHeader unset Proxy early
</IfModule>

#############################################
# Logging Configuration                     #
#############################################
ErrorLog {{data_dir}}/var/log/apache/error.log

LogLevel {{log_level}}
LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
{{#access_log}}
CustomLog {{data_dir}}/var/log/apache/access.log combined
{{/access_log}}

#############################################
# MIME Type/Handler Configuration           #
#############################################
AddType application/x-compress .Z
AddType application/x-gzip .gz .tgz
AddType application/x-httpd-php .php
AddHandler type-map var
{{#fastcgi}}
{{^apache24}}
ScriptAlias /cgi-bin/ "{{data_dir}}/libexec/cgi-bin/"
FastCgiExternalServer {{data_dir}}/libexec/cgi-bin/php-cgi -idle-timeout {{timeout}} -socket {{data_dir}}/var/tmp/php.sock -pass-header Authorization
AddHandler php-fastcgi .php
Action php-fastcgi /cgi-bin/php-cgi
{{/apache24}}
{{#apache24}}
ProxyPassMatch "^/(.*\.php(/.*)?)$" "unix:{{data_dir}}/var/tmp/php.sock|fcgi://localhost{{code_dir}}{{document_root}}"
{{/apache24}}
{{/fastcgi}}

UnsetEnv USER HOME
SetEnvifNoCase X-Forwarded-Proto "https" HTTPS=on
RewriteEngine on
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
