
eaccelerator.shm_only = "1"
eaccelerator.shm_max = "{{eaccelerator_shm_max}}"
eaccelerator.shm_size = "{{eaccelerator_shm_size}}"
eaccelerator.check_mtime = "0"
eaccelerator.filter = "{{eaccelerator_filter}}"
eaccelerator.debug = 0
