
opcache.enable = 1
opcache.memory_consumption = {{opcache_memory_consumption}}
opcache.validate_timestamps = {{opcache_validate_timestamps}}
opcache.revalidate_freq = {{opcache_revalidate_freq}}
opcache.revalidate_path = {{opcache_revalidate_path}}
opcache.save_comments = {{opcache_save_comments}}
opcache.load_comments = {{opcache_load_comments}}
opcache.enable_file_override = {{opcache_enable_file_override}}
opcache.optimization_level = {{opcache_optimization_level}}
opcache.dups_fix = {{opcache_dups_fix}}
opcache.blacklist_filename = "{{opcache_blacklist_filename}}"
