
xcache.size = {{xcache_size}}M
xcache.count = 5
xcache.optimizer = 1
xcache.var_size = {{xcache_var_size}}M
xcache.var_count = 5
xcache.stat = 0
xcache.cacher = 1
{{#xcache_admin_user}}
xcache.admin.user = "{{xcache_admin_user}}"
xcache.admin.pass = "{{xcache_admin_pass}}"
{{/xcache_admin_user}}
