xdebug.auto_trace = {{xdebug_auto_trace}}
xdebug.cli_color = {{xdebug_cli_color}}
xdebug.collect_assignments = {{xdebug_collect_assignments}}
xdebug.collect_includes = {{xdebug_collect_includes}}
xdebug.collect_params = {{xdebug_collect_params}}
xdebug.collect_return = {{xdebug_collect_return}}
xdebug.collect_vars = {{xdebug_collect_vars}}
xdebug.coverage_enable = {{xdebug_coverage_enable}}
xdebug.default_enable = {{xdebug_default_enable}}
{{#xdebug_dump_COOKIE}}
xdebug.dump.COOKIE = {{xdebug_dump_COOKIE}}
{{/xdebug_dump_COOKIE}}
{{#xdebug_dump_FILES}}
xdebug.dump.FILES = {{xdebug_dump_FILES}}
{{/xdebug_dump_FILES}}
{{#xdebug_dump_GET}}
xdebug.dump.GET = {{xdebug_dump_GET}}
{{/xdebug_dump_GET}}
{{#xdebug_dump_POST}}
xdebug.dump.POST = {{xdebug_dump_POST}}
{{/xdebug_dump_POST}}
{{#xdebug_dump_REQUEST}}
xdebug.dump.REQUEST = {{xdebug_dump_REQUEST}}
{{/xdebug_dump_REQUEST}}
{{#xdebug_dump_SERVER}}
xdebug.dump.SERVER = {{xdebug_dump_SERVER}}
{{/xdebug_dump_SERVER}}
{{#xdebug_dump_SESSION}}
xdebug.dump.SESSION = {{xdebug_dump_SESSION}}
{{/xdebug_dump_SESSION}}
xdebug.dump_globals = {{xdebug_dump_globals}}
xdebug.dump_once = {{xdebug_dump_once}}
xdebug.dump_undefined = {{xdebug_dump_undefined}}
xdebug.extended_info = {{xdebug_extended_info}}
{{#xdebug_file_link_format}}
xdebug.file_link_format = "{{xdebug_file_link_format}}"
{{/xdebug_file_link_format}}
xdebug.force_display_errors = {{xdebug_force_display_errors}}
xdebug.force_error_reporting = {{xdebug_force_error_reporting}}
xdebug.halt_level = {{xdebug_halt_level}}
{{#xdebug_idekey}}
xdebug.idekey = "{{xdebug_idekey}}"
{{/xdebug_idekey}}
xdebug.manual_url = "{{xdebug_manual_url}}"
xdebug.max_nesting_level = {{xdebug_max_nesting_level}}
xdebug.max_stack_frames = {{xdebug_max_stack_frames}}
xdebug.overload_var_dump = {{xdebug_overload_var_dump}}
xdebug.profiler_aggregate = {{xdebug_profiler_aggregate}}
xdebug.profiler_append = {{xdebug_profiler_append}}
xdebug.profiler_enable = {{xdebug_profiler_enable}}
xdebug.profiler_enable_trigger = {{xdebug_profiler_enable_trigger}}
{{#xdebug_profiler_enable_trigger_value}}
xdebug.profiler_enable_trigger_value = "{{xdebug_profiler_enable_trigger_value}}"
{{/xdebug_profiler_enable_trigger_value}}
xdebug.profiler_output_dir = "{{xdebug_profiler_output_dir}}"
xdebug.profiler_output_name = "{{xdebug_profiler_output_name}}"
{{#xdebug_remote_addr_header}}
xdebug.remote_addr_header = "{{xdebug_remote_addr_header}}"
{{/xdebug_remote_addr_header}}
xdebug.remote_autostart = {{xdebug_remote_autostart}}
xdebug.remote_connect_back = {{xdebug_remote_connect_back}}
xdebug.remote_cookie_expire_time = {{xdebug_remote_cookie_expire_time}}
xdebug.remote_enable = {{xdebug_remote_enable}}
xdebug.remote_handler = "{{xdebug_remote_handler}}"
xdebug.remote_host = "{{xdebug_remote_host}}"
{{#xdebug_remote_log}}
xdebug.remote_log = "{{xdebug_remote_log}}"
{{/xdebug_remote_log}}
xdebug.remote_mode = "{{xdebug_remote_mode}}"
xdebug.remote_port = {{xdebug_remote_port}}
xdebug.scream = {{xdebug_scream}}
xdebug.show_error_trace = {{xdebug_show_error_trace}}
xdebug.show_exception_trace = {{xdebug_show_exception_trace}}
xdebug.show_local_vars = {{xdebug_show_local_vars}}
xdebug.show_mem_delta = {{xdebug_show_mem_delta}}
xdebug.trace_enable_trigger = {{xdebug_trace_enable_trigger}}
{{#xdebug_trace_enable_trigger_value}}
xdebug.trace_enable_trigger_value = "{{xdebug_trace_enable_trigger_value}}"
{{/xdebug_trace_enable_trigger_value}}
xdebug.trace_format = {{xdebug_trace_format}}
xdebug.trace_options = {{xdebug_trace_options}}
xdebug.trace_output_dir = "{{xdebug_trace_output_dir}}"
xdebug.trace_output_name = "{{xdebug_trace_output_name}}"
xdebug.var_display_max_children = {{xdebug_var_display_max_children}}
xdebug.var_display_max_data = {{xdebug_var_display_max_data}}
xdebug.var_display_max_depth = {{xdebug_var_display_max_depth}}