{{#web}}
web.main:
{{#apache}}
{{#fpm}}
  start:
    fpm: {{data_dir}}/bin/start-php
    apache: {{data_dir}}/bin/start-apache
{{/fpm}}
{{#mod_php}}
  start: {{data_dir}}/bin/start-apache
{{/mod_php}}
  log_watch:
    apache[access]: {{data_dir}}/var/log/apache/access.log
    apache[error]: {{data_dir}}/var/log/apache/error.log
    php[error]: {{data_dir}}/var/log/php/php_error.log
{{#fpm}}
    php[fpm]: {{data_dir}}/var/log/php/php-fpm.log
{{/fpm}}
{{/apache}}
{{#nginx}}
  start:
    fpm: {{data_dir}}/bin/start-php
    nginx: {{data_dir}}/bin/start-nginx
  log_watch:
    nginx[access]: {{data_dir}}/var/log/nginx/access.log
    nginx[error]: {{data_dir}}/var/log/nginx/error.log
    php[error]: {{data_dir}}/var/log/php/php_error.log
    php[fpm]: {{data_dir}}/var/log/php/php-fpm.log
{{/nginx}}
{{#builtin}}
  start: {{data_dir}}/bin/start-php
  log_watch:
    php[access]: {{data_dir}}/var/log/php/access.log
    php[error]: {{data_dir}}/var/log/php/php_error.log
{{/builtin}}
{{/web}}
